@tailwind base;
@tailwind components;
@tailwind utilities;

.outer-Div {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

.inner-Div {
    background-color: #166d3b;
    background-image: linear-gradient(147deg, #002410 0%, #0b0a0a 74%);
}

.DigitalClockOuterDiv {
    background-color: #d2a813;
    background-image: linear-gradient(315deg, #4a3a02 0%, #000000 74%);
}