@tailwind base;
@tailwind components;
@tailwind utilities;

.outer-Div {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

.inner-Div {
    background-color: #166d3b;
    background-image: linear-gradient(147deg, #002410 0%, #0b0a0a 74%);
}

.DigitalClockOuterDiv {
    background-color: #d2a813;
    background-image: linear-gradient(315deg, #4a3a02 0%, #000000 74%);
}

.lightGreenTheme {
    background: rgb(81, 121, 9);
    background: linear-gradient(61deg, rgba(81, 121, 9, 1) 0%, rgba(0, 212, 255, 1) 100%, rgba(2, 0, 36, 1) 100%);
}

.innerCardLightBlueTheme {
    background: rgb(255, 255, 255);
    background: linear-gradient(61deg, rgba(255, 255, 255, 1) 0%, rgba(113, 208, 215, 1) 100%);
}

/* .cardButtonIncrement .MuiSvgIcon-root {
    color: #000000;
    font-size: 100px;
    border-radius: 20px;
    box-shadow: lemonchiffon;
    box-shadow: 3px;
}

.cardButtonDecrement .MuiSvgIcon-root {
    color: #000000;
    font-size: 100px;
    border-radius: 20px;
    box-shadow: lemonchiffon;
    box-shadow: 3px;
} */

.cardButtonIncrement:hover {
    color: #166d3b
}

.cardButtonDecrement:hover {
    color: #ff4757;
}